[Unit]
Description=Docker Image Registry
Requires=docker.service
After=docker.service
ConditionHost=n1

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/skydns/envvars
TimeoutStartSec=300
ExecStartPre=/usr/bin/bash -c "/var/lib/apps/bin/is_loaded registry:latest || /var/lib/apps/bin/dkload registry-latest.tgz || docker pull registry:latest"
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStart=/usr/bin/docker run  --rm --name %n -p 80:5000  -v /var/lib/apps-data/registry:/var/lib/registry  -v /var/lib/apps/registry/config.yml:/etc/docker/registry/config.yml registry:latest
ExecStartPost=/var/lib/apps/bin/dns-set 'registry' "%H.${LOCAL_DOMAIN}"
ExecStopPost=-/var/lib/apps/bin/dns-delete 'registry'
RestartSec=5
Restart=always
