body {
	background-color: white;
	text-align: center;
	padding: 50px;
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#logo {
	margin-bottom: 40px;
}

a {
  color: #00B7FF;
}
