[Unit]
Description=gitlab-redis
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/gitlab/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull ${REDIS_IMAGE}
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n ${DOCKER_REDIS_OPTS} ${REDIS_IMAGE}"
ExecStartPost=/var/lib/apps/bin/dns-set gitlab-redis "%H.docker.local"
ExecStop=-/usr/bin/docker stop %n
ExecStopPost=-/var/lib/apps/bin/dns-delete gitlab-redis
RestartSec=10
Restart=always
