[Unit]
Description=gitlab-db
Requires=gitlab-redis.service
After=gitlab-redis.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/gitlab/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull ${DB_IMAGE}
ExecStart=/usr/bin/docker start -a --rm --name %n ${DB_OPTS} ${DB_IMAGE}
ExecStop=/usr/bin/docker stop %n
RestartSec=5
Restart=always

[X-Fleet]
MachineOf=gitlab-redis.service

