[Unit]
Description=gitlab-docker-runner
Requires=gitlab.service
After=gitlab.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/gitlab/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull ${RUNNER_IMAGE}
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n ${DOCKER_RUNNER_OPTS} ${RUNNER_IMAGE}" 
ExecStop=-/usr/bin/docker stop %n
