[Unit]
Description=gitlab
Requires=gitlab-db.service
After=gitlab-db.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/gitlab/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull ${GITLAB_IMAGE}
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n \
   --env-file=/var/lib/apps/gitlab/envvars.smtp \
   --env-file=/var/lib/apps/gitlab/envvars.gitlab ${DOCKER_GITLAB_OPTS} ${GITLAB_IMAGE}" 
ExecStartPost=/var/lib/apps/bin/dns-set gitlab ${COREOS_PRIVATE_IPV4}
ExecStop=-/usr/bin/docker stop %n
ExecStopPost=-/var/lib/apps/bin/dns-delete gitlab