[Unit]
Description=gitlab-runner-docker-cleanup
Requires=gitlab-runner.service
After=gitlab-runner.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/gitlab/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull ${CLEANER_IMAGE}
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n ${DOCKER_CLEANER_OPTS} ${CLEANER_IMAGE}"
ExecStop=-/usr/bin/docker stop %n
