[Unit]
Description=gitlab
Requires=gitlab-db.service
After=gitlab-db.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/gitlab/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull ${DOCKER_IMAGE}
ExecStartPre=/var/lib/apps/bin/dns-set  gitlab  ${COREOS_PRIVATE_IPV4}
ExecStart=/usr/bin/docker start -a --rm --name %n ${DOCKER_OPTS} ${DOCKER_IMAGE}
ExecStopPost=/var/lib/apps/bin/dns-delete gitlab
RestartSec=5
Restart=always

[X-Fleet]
MachineOf=gitlab-db.service
