[Unit]
Description=gitlab-ci-runner Installer
Documentation="https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/master/docs/install/linux-manually.md"
Requires=systemd-resolved.service
After=systemd-resolved.service

[Service]
Type=oneshot
# RemainAfterExit=true
EnvironmentFile=/var/lib/apps/gitlab/envvars
ExecStart=-/bin/mkdir -p /opt/bin
ExecStart=/bin/bash -c "[[ -x /opt/bin/gitlab-ci-multi-runner ]] \
    || wget -q -O /opt/bin/gitlab-ci-multi-runner \
        https://gitlab-ci-multi-runner-downloads.s3.amazonaws.com/latest/binaries/gitlab-ci-multi-runner-linux-amd64 \
    && chmod 755 /opt/bin/gitlab-ci-multi-runner; echo ok"
ExecStart=-/bin/bash -c "getent passwd gitlab-runner; \
    if [ $? -ne 0 ]; then \
    /sbin/useradd --comment 'GitLab Runner' --create-home gitlab-runner --shell /bin/bash -G docker; fi"
ExecStart=-/opt/bin/gitlab-ci-multi-runner register  -n \
  --url https://gitlab.docker.local:8443/ci \
  --registration-token ${RUNNER_REGISTRATION_TOKEN} \
  --executor shell \
  --description "Shell Runner" \
  --tag-list "shell,ssh"
ExecStart=-/opt/bin/gitlab-ci-multi-runner install --user=gitlab-runner --working-directory=/home/gitlab-runner
ExecStart=-/opt/bin/gitlab-ci-multi-runner start
ExecStart=-/opt/bin/gitlab-ci-multi-runner status
