#Environment vars for gitlab docker SMTP configuration
#See https://github.com/sameersbn/docker-gitlab

#EMAIL
SMTP_HOST=smtp.mailgun.org
GITLAB_EMAIL=admin@mg.dockerage.com
GITLAB_EMAIL_REPLY_TO=admin@mg.dockerage.com
SMTP_USER=XXXXXX@mg.dockerage.com
SMTP_PASS=XXXXXXXX
