[Unit]
Description=skydns
Requires=skydns-install.service
After=skydns-install.service

[Service]  
Type=simple
Restart=always
RestartSec=5
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/skydns/envvars
ExecStartPre=-/var/lib/apps/bin/dns-set x%m.ns.dns "${COREOS_PRIVATE_IPV4}"
ExecStart=/opt/bin/skydns
ExecStopPost=-/usr/bin/etcdctl rm /skydns/config
ExecStopPost=/var/lib/apps/bin/dns-delete x%m.ns.dns
 