[Unit]
Description=SkyDNS Installer

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/skydns/envvars
ExecStart=-/bin/mkdir -p ${SKYDNS_PATH}/bin
ExecStart=/bin/bash -c "[ -x ${SKYDNS_CMD} ] || (curl -L -o ${SKYDNS_CMD} ${SKYDNS_CMD_REPO} && chmod 755 ${SKYDNS_CMD})"
            
[X-Fleet]
Global=true
