[Unit]
Description=SkyDNS Installer

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/skydns/envvars
ExecStart=-/bin/mkdir -p /opt/bin
ExecStart=/bin/bash -c "[ -x /opt/bin/skydns ] || (curl -L -o /opt/bin/skydns ${SKYDNS_CMD_REPO} && chmod 755 /opt/bin/skydns)"
# Set skydns configuration in etcd
ExecStart=-/usr/bin/etcdctl set /skydns/config "${SKYDNS_CONFIG}"     