[Unit]
Description=MySQL
Requires=docker.service
After=docker.service
Wants=skydns.service
After=skydns.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/mysql/envvars
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull $IMAGE
ExecStart=/usr/bin/docker run  --rm --name %n $OPTS $IMAGE
ExecStop=/usr/bin/docker stop %n
# Registering the DNS name
ExecStartPost=/bin/bash -c "/var/lib/apps/bin/dns-set 'mysql' ${COREOS_PRIVATE_IPV4}"
# Clean up
ExecStopPost=-/var/lib/apps/bin/dns-delete 'mysql'
RestartSec=5
Restart=always
