[Unit]
Description=redis
Requires=docker.service
After=docker.service
Wants=etcd.service
After=etcd.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/redis/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull ${REDIS_IMAGE}
ExecStart=/usr/bin/bash -c "docker start --rm --name %n ${REDIS_OPTS} ${REDIS_IMAGE}"
ExecStop=/usr/bin/docker stop %n
RestartSec=5
Restart=always
